@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/pen.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/trash.css');

h1 {
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
}

p {
	margin: 0;
}

input {
	margin-right: 20px;
	padding: 10px;
	width: 250px;
	height: 40px;
	border: 0px solid darkgrey;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input::placeholder {
	text-align: center;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	flex-direction: column;
}

.todo {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	min-width: 400px;
	min-height: 40px;
	background-color: #fff;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.btn-block {
	margin: 0;
	padding: 0;
}

.pen {
	cursor: pointer;
	margin-right: 10px;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid rgb(206, 206, 206);
	border-radius: 5px;
	transition: 0.3s;
}

.pen:hover {
	background-color: rgb(206, 206, 206);
	transition: 0.3s;
}

.trash {
	cursor: pointer;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid rgb(206, 206, 206);
	border-radius: 5px;
	transition: 0.3s;
}
.trash:hover {
	background-color: rgb(206, 206, 206);
	transition: 0.3s;
}

.btn-create {
	cursor: pointer;
	width: 120px;
	height: 40px;
	margin-bottom: 20px;
	padding: 5px;
	border: 0px solid darkgrey;
	border-radius: 20px;
	background-color: #6fa6ff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
}

.btn-create:hover {
	background-color: rgb(206, 206, 206);
	transition: 0.5s;
}

.btn-sort {
	cursor: pointer;
	min-width: 120px;
	min-height: 40px;
	margin-bottom: 20px;
	padding: 5px 15px 5px 15px;
	border: 0px solid darkgrey;
	border-radius: 20px;
	background-color: #ffb6b6;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	transition-property: background-color, transform;
	transition-duration: 0.5s;
}

.btn-sort:hover {
	background-color: rgb(206, 206, 206);
	transition: 0.3s;
}

.btn-accept {
	cursor: pointer;
	min-width: 120px;
	min-height: 40px;
	margin-bottom: 20px;
	padding: 5px 15px 5px 15px;
	border: 0px solid darkgrey;
	border-radius: 20px;
	background-color: #6fa6ff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	transition-property: background-color, transform;
	transition-duration: 0.5s;
}

.btn-accept:hover {
	background-color: rgb(206, 206, 206);
	transition: 0.3s;
}
